* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-spaceBetween-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), 
    url(images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title img {
    width: 150px;
}
.title a:focus {
    outline: none;
}
nav .fa {
    width: 32px;
    background-color: #fff;
    padding: 4px;
    position: absolute;
    top: 16px;
    right: 16px;
}
.navlinks {
    width: 250px;
    height: 100vh;
    background-color: rgb(233, 76, 64);
    position: fixed;
    top: 0;
    right: -250px;
    z-index: 1;
    transition: 0.5s
}
.navlinks ul {
    margin-top: 72px;
    padding: 0 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.navlinks ul li {
    width: 100%;
    list-style: none;
}
.navlinks li a {
    width: 250px;
    padding: 24px 0px;
    font-size: 20px;
    color: inherit;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: all 0.8s
}
a:focus {
    outline: none;
}
.zone-hero a:focus {
    border: none;
}
.navlinks li::after {
    content: "";
    width: 0%;
    height: 2px;
    margin: auto;
    background-color: #fff;
    transition: 0.5s;
    display: block;
}
.navlinks li:hover::after {
    width: 100%;
}

.zone-hero {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.zone-hero h1 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
}
.zone-hero p {
    margin: auto;
    color: #c4c4c4;
    font-size: 16px;
    margin-bottom: 32px;
}
.zone-hero button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 32px;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.5s;
}
.zone-hero button a {
    text-decoration: none;
    color: #fff;
}
.zone-hero button:hover,
.enrol button:hover,
.zone-hero button:focus,
.enrol button:focus,
.btn-explore:hover,
.btn-explore:focus {
    background-color: #e94c40;
    border: 1px solid #e94c40;
    transition: 0.5s;
}

/*===== Courses We Offer =====*/
main {
    width: 100%;
    padding: 16px;
}
section {
    max-width: 920px;
    margin: 40px auto;
    text-align: center;
}
section .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 8px;
}
section .description {
    font-size: 16px;
    color: #4c4c4c;
    margin-bottom: 16px;

}
.courses .row {
    margin: 24px 0;
    flex-direction: column;
    gap: 16px;
}
.courses-col {
    flex-basis: 32%;
    background-color: rgba(233, 76, 64, 0.2);
    padding: 12px;
    border-radius: 8px;
}
.course-title {
    margin-bottom: 8px;
}
.course-body {
    color: #333
}

/*===== Campus =====*/
.campus .row {
    flex-direction: column;
}
.campus-col {
    flex-basis: 32%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 8px;
}
.campus-col img {
    width: 100%;
}
.layer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover,
.layer:focus {
    background-color: rgba(226, 0, 0, 0.7);
    transition: 0.8s;
    outline: none;
}
.layer h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.8s;
}
.layer:hover h3,
.layer:focus h3 {
    bottom: 50%;
    transition: 0.8s;
}

/*===== Facilities =====*/
.facilities .row {
    flex-direction: column;
}
.facility-col {
    flex-basis: 32%;
    margin-bottom: 32px;
    border-radius: 8px;
}
.facility-col img {
    width: 100%;
    border-radius: 8px;
}
.facility-col h3 {
    margin: 8px 0;
    color: #333;
}

/*===== Testimonials =====*/
.testimonials .row {
    flex-direction: column;
}
.testimonial-col {
    background-color: rgba(233, 76, 64, 0.2);
    flex-basis: 48%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 8px 12px;
    border-radius: 8px;
}
.avatar {
    width: 20%;
    display: inline;
}
.avatar img {
    width: 60px;
    border-radius: 50%;
}
.desc {
    width: 80%;
    display: inline;
    text-align: left;
    padding-left: 8px;
}
.desc p {
    font-size: 14px;
    padding-bottom: 4px;
    text-align: justify;
    color: #333;
}
.desc h3 {
    font-size: 16px;
}
.quotes .fa-solid {
    font-size: 14px;
    margin-top: 8px;
    color:rgb(233, 76, 64);
}
.quotes .fa-regular {
    color:rgb(233, 76, 64);
}

/*===== Enrol =====*/
.enrol {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
    url(images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 48px 0;
    color: #fff;
}
.enrol h3 {
    font-size: 1em;
    margin-bottom: 12px;
    font-weight: normal;
}
.enrol button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}

/*========== ABOUT ==========*/
.header2 {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), 
    url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16px;
}
.zone-hero2 {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
}
.zone-hero2 h1 {
    color: #fff;
}
.about .row {
    flex-direction: column;
    text-align: left;
}
.about .row > div {
    flex-basis: 48%;
}
.about .description {
    text-align: justify;
}
.btn-explore {
    background-color: transparent;
    border: 1px solid gray;
    padding: 8px 16px;
    margin: 16px 0 32px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}
.btn-explore a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}
.btn-explore:hover a,
.btn-explore:focus a {
    color: #fff;
    transition: 0.5s;
}
.about-img img {
    width: 100%;
}

/*========== BLOG ==========*/
.blog .row {
    flex-direction: column;
    align-items: flex-start;
}
.blog .article {
    flex-basis: 60%;
}
.blog .post-categories {
    flex-basis: 38%;
}
.article > img {
    width: 100%;
}
.article .description {
    text-align: justify;
}
.formgroup {
    width: 100%;
    margin: 16px 0 24px;
    padding: 12px;
    border: 1px solid gray;
    text-align: left;
}
.formgroup h3 {
    text-align: left;
    font-size: 1em;
}
.formgroup input,
.formgroup textarea {
    width: 100%;
    padding: 8px;
    margin: 8px auto;
    background-color: #f1f1f1;
    border: none;
    border-radius: 4px;
    resize: none;
}
.btn-alert {
    padding: 6px 12px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 0.88em;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
}
.btn-alert:hover,
.btn-alert:focus {
    box-shadow: 0 8px 8px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.formgroup input:focus,
.formgroup textarea:focus {
    outline: none;
}

.post-categories {
    width: 100%;
}
.thead {
    width: 100%;
    background-color: #f00;
    color: #fff;
    font-size: 1.25em;
    font-weight: 500;
    padding: 4px;
}
.category {
    padding: 12px;
    font-weight: 500;
}


/*========== CONTACT ==========*/
.map iframe {
    width: 100%;
}
.contact-us .row {
    align-items: flex-start;
    flex-direction: column;
}
.address {
    flex-basis: 40%;
}
.mail-us {
    flex-basis: 58%;
}
.address-row {
    margin-bottom: 8px;
    padding: 8px 0;
    text-align: left;
    display: flex;
    align-items: center;
}
.address .fa-solid,
.address p {
    display: inline-block;
    line-height: 16px;
}
.address .fa-solid {
    color: #333;
    font-size: 24px;
    margin-right: 12px;
}
.address span {
    font-size: 14px;
}
.mail-us .formgroup {
    border: none;
    margin: 0;
    padding: 0;
}


/*===== FOOTER =====*/
.footer {
    width: 80%;
    max-width: 920px;
    margin: auto;
    padding-top: 24px;
    text-align: center;
    border-top: 1px solid #c4c4c4;
}
.about-us p {
    text-align: justify;
    margin: 8px 0 40px;
    color: #333;
}
.social-media .fa-brands {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    color: #000;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.social-media .fa-brands:hover {
    color: #fff;
    border-color: transparent;
}
.fa-facebook-f:hover {
    background-color: #3b5998;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-linkedin-in:hover {
    background-color: #0077b5;
}
.fa-instagram:hover {
    background-color: #f0f;
    background-image: linear-gradient(to top right, #fccc63, #cd486b, #8a3ab9);
    background-repeat: no-repeat;
}
.footer p {
    margin: 16px 0;
}


/*=============== DESKTOP ===============*/
@media (min-width: 768px) {
    nav .fa {
        display: none;
    }
    .navlinks {
        width: auto;
        height: auto;
        background-color: transparent;
        position: unset;
    }
    .navlinks ul {
        margin-top: 0;
        padding: 0;
        border: none;
    }
    .navlinks ul li {
        width: unset;
        display: inline-block;
    }
    .navlinks li a {
        width: unset;
        padding: 4px 8px;
        font-size: 1em;
    }
    .navlinks li::after {
        background-color: #e94c40;
    }
    .navlinks li:hover::after {
        width: 80%;
    }
    .zone-hero {
        width: 60%;
    }
    .zone-hero h1 {
        font-size: 40px;
    }
    .courses .row,
    .campus .row,
    .facilities .row,
    .testimonials .row,
    .about .row,
    .blog .row,
    .contact-us .row {
        flex-direction: row;
    }
    .enrol {
        padding: 80px 0;
    }
    .enrol h3 {
        font-size: 1.5em;
    }

    .about-us p {
        text-align: center;
    }
}